<h1>User profile for <span style="font-style: italic"><%= @user.name %></span></h1>

<ul>
	<h3>TODO - add to user profile (it's gonna be sweet)</h3>

	<li>user since (user's created at date)</li>
	<li>user's posts</li>
	<li>user's comments</li>
</ul>