// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  margin: 5px 8%;
  font-family:Verdana, Geneva, sans-serif;
  font-size: 10pt;

  table {
    background-color: rgb(246, 246, 239);
  }
}

#navbar {
  width: 1200px;

  #nav {
    list-style: none;
    padding: 0px;
    margin: 3px;

    li {
      display: inline-block;
    }
    a {
      color: black;
      text-decoration: none;
    }

  }
}
#login {float: right;}
#brand {color: white}

.small-text {font-size:  8pt; color:#828282; }
.grey {color:#828282;}
.votearrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 0px;
  background: url("grayarrow.gif") no-repeat;
}
.row {padding: 7px}
.subtext {padding-left: 30px;}

.modal-backdrop {
  background: #ff6600 !important;
}
.modal-content {
  background: #828282;
} 
.modal {
  top: 10%
}